/* General Layout */
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex: none;
  padding: 20px;
}

header{
  flex: none;
}

main {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  flex: auto;
  padding: 50px 20px 50px 20px;
}

/* basic html tag styling */
i {
  margin: 5px;
  margin-right: 15px;
}

input{
  margin-top: 30px !important;
}

/* everything displayed as cards */
.card{
  margin-top: 30px;
}

.behavior-card{
  /*height: 165px;*/
  height: 180px;
  cursor: pointer;
}

/* dropdowns */
.dropdown .dropdown-toggle{
  margin-top: 40px;
  width: 300px;
}

/* navbar */
.nav-link {
margin-top: 5px;
line-height: 27px;
color:red;
}

.footer-button{
  height: 55px;
  width: 180px;
}

#navbarDropdown{
  margin-top: 5px;
}

.typeWarning{
  background-color: yellow !important;
}

.typeError{
  background-color: red !important;
}

.action_failed{
  color: red;
}

.action_succeeded{
  color: green;
}


@media (max-width: 992px){
  main{
    overflow-y: auto;
  }

  div {
    color: blue;
  }

  h3{
    font-size: 1.3rem !important;
  }

  .nav-link {
  margin-top: 5px;
  line-height: 27px;
  color:red;
  }

  #navbarDropdown{
    margin-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px){
  main{
    overflow-y: auto;
    overflow-x: hidden;
  }

  div {
    color: green;
  }

  h3{
    font-size: 1.3rem !important;
  }

  #emergency_button{
    width: 180px;
  }

  #navbarDropdown{
    margin-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-link {
  margin-top: 5px;
  line-height: 27px;
  color:red;
  }
}

@media (max-width: 480px){
  main{
    overflow-y: auto;
  }

  div {
    color: red;
  }

  h3{
    font-size: 1.3rem !important;
  }

  #navbarDropdown{
    margin-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer-button{
    height: 55px;
    width: 100%;
  }
}
